@media screen and (max-width: 1200px){ 	/*    sets to activate the css when screen is equal to or less than the pixels set                                     */
	
	.sidebar{		/* 	side bar container				*/
		display: block;
		position: fixed;
		top: 0;
		right: -100%;			/* 	puts the container outside the screen so it can later be called by javascript and slide it back in when clicked				*/
		background:#231E22;
		width: 100%;
		height: 100%;
		-webkit-transition:1s;
		-ms-transition:1s;
		-o-transition:1s;
		transition: 1s; /* 		seconds to transition in			*/
		
		z-index: 100;
	}
	.active{			/* 	css Class and is not in html, it is called by jquery to slide back in the sidebar when user clicks the menu hamburger				*/
		right:0;
	}

	.mobile-menu-buttons{	/* 		styles the menu buttons for mobile			*/
		display: block;
	font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0em;
    font-family: motor;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .17em;
    text-transform: uppercase;
    word-spacing: 2.5em;
	}

	/*-------------------------------------------------------------------------------------------------*/
.sidebar ul{		/* 			styles the unordered list and positions it		*/
	display: block;
  
	margin: auto;
	padding: 0 0 0 0;

}

		.sidebar ul li{		/* 		styles and removes the bullet from the list 			*/
			/*display: block;*/
			list-style: none;
		  /*width:100%;*/
		 /* margin:auto;*/
		  
		  padding:20px 0;
		}
		  

				.sidebar ul li a{  /* 		styles the links inside the sidebar			*/
					display: block;
					padding:  0;
					color: white;
					display: block;
					text-decoration: none;
				  	width:25%;
				  	margin:auto;
				  	margin-top:50px;
				  	font-size: 30px;
				}
					  .sidebar ul li a:hover{
					    color:grey;
					   
					  }


					  .mobile-social-media{
					  	margin:auto;
					  	width: 20%;
					  	display:inline-block;
					  	vertical-align: top;
					  }

					  	.fa-2x{
					  		font-size: 40px !important;
					  	}
  /*----------------------------------styles the hamburger menu icon-----------------------------------------------------------------------------*/

.sidebarBtn{			/* 		styles and positions the sidebar hamburger button 			*/
	display: block;
	position: absolute;
	top: 0;
	left: -50px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	box-sizing: border-box;
	background: transparent;
	border:none;
	outline: none;

}

	.sidebarBtn span {			/* 		creates hamburger button line which is in the middle 			*/
		display: block;
		width: 90%;				/* 			makes one line of length 90% inside the sidebar button container		*/
		height: 5px;
		background-color: 	#D3D3D3;
		position: absolute;			/* 		makes sure it doesnt move other elements inside the webpage			*/
		top: 35px;
		-webkit-transition:.10s;
		-ms-transition:.10s;
		-o-transition:.10s;
		transition: .10s;	
	  border-radius:15%;}	/* 			when clicked how long it takes to animate to x and back		*/


			.sidebarBtn span:before{ /*    creates the second line            */
			content: '';
		    border-radius:15%;
			left: 0;
			position: absolute;
			top: -15px;				/*   puts the second line up 15 pixels from the original line which was in the middle of sidebarBtn container            */
			width: 100%;
			height: 5px;
			background-color: 	#D3D3D3;
			-webkit-transition:.3s;
			-ms-transition:.3s;
			-o-transition:.3s;
			transition: .3s;
		}

				.sidebarBtn span:after{	/*   creates the third line of hamburger menu             */
					content: '';
				  border-radius:15%;
					left: 0;
					position: absolute;
					top: 15px;				/*    puts it 15 pixels down from the top from the original line that is in the middle            */
					width: 100%;
					height: 5px;
					background-color: 	#D3D3D3;
					-webkit-transition:.3s;
					-ms-transition:.3s;
					-o-transition:.3s;
					transition: .3s;
				}


/*----------------------------------------------------------------------------------------------------------------------------------*/

.sidebarBtn.toggle span{			/* 		removes the middle line from the menu button to only be left with top and bottom lines that will cross each other when clicked			*/
	background: transparent;
	-webkit-transition:.100s;
	-ms-transition:.100s;
	-o-transition:.100s;
  transition:.100s;
}

	.sidebarBtn.toggle span:before{ 
	  position:absolute;
	  left:110%;
		top: 0;
		transform: rotate(45deg);		/* 		when clicked the top line will rotate 45 degrees from the top to cross the the bottom line which would also rotate		*/

	}

			.sidebarBtn.toggle span:after{	/* 		when clicked the third line will rotate counter 45 degrees to cross the top line to form an X		*/
			 position:absolute;
				top:0;
			  left:110%;
			 
				transform: rotate(-45deg);
			}






	.social-media-icons a, .menu li{
		display: none;
}


/*---------------------main content-------------------------------------------------------------*/
.nav-bar{
  position:fixed;
  width:100%;
	background-color: #231E22;
	top: 0;
  padding:.0;
  margin:0; 
}



#content{width: 100%}
/*-------------------------------------*/
.welcome-container{ /*            wrapper container for Welcome and the horizontal line                              */
	background:url(https://scontent-lga3-1.cdninstagram.com/vp/e837a3885818d1e11d5b33e478901f78/5B574BFE/t51.2885-15/e35/19367615_1892480557681308_1451688882939625472_n.jpg);
	
	display: block;
	
	margin:auto;
	background-repeat: no-repeat;
	background-size: 110% 115%;
	background-position: -20px ;
	z-index: 0;
	border-bottom: 1px solid #ccc;

	width: 100%;
	height: 800px;
	
}
		.welcome-container h1 {   /*            styles "welcome" to center                            */
		position: relative;
			text-align: center;
			font-size:3em;
			letter-spacing: 1px;
			font-weight: 900;
			line-height: inherit;
			margin:auto;
			color:white;
			}
				.pic-descriptions {
					left: 0;

				}

					.describing-what-we-do{
						left:16em;
						margin:0;
					}

/*----------WHAT WE OFFER------------------------------*/

.list-descriptions-container{ /* container of the images and descriptions of service offer*/
	margin-top: 1em;
	border-top: 4px solid rgba(204,204,204, .1);
	border-bottom: 4px solid rgba(204,204,204, .1); 
	position: relative;
	overflow:hidden;
}

	.offer{ /*styles the "we offer" h1 */
		font-family:"Cera Pro", 
					"HelveticaNeue", 
					"Helvetica Neue", 
					"HelveticaNeueRoman", 
					"HelveticaNeue-Roman", 
					"Helvetica Neue Roman", 
					"TeXGyreHerosRegular", 
					"Helvetica", 
					"Tahoma", 
					"Geneva", 
					"Arial", 
					sans-serif;
					letter-spacing: 1px;
					font-size: 3em;
					text-align: center;
					margin:auto;
					padding-bottom: 10px;

				width: 30%;
				margin:auto;
				border-bottom: 2px solid black;
				display: inline-block;
					}


		.list-description{
			position: relative;
			width: 90%;
			height: 300px;
			
			
			
	
			display: flex;
			margin:0;
			
		}

			.pic-descriptions{
				position: relative;
				
				
				margin:auto;	
				border-radius: 99%;
				width: 30%;
				
			
			}
				#pic-1{
					position:relative;
					
					width: 200px;
					height: 200px;
				}
					#pic-2{
						
						position:relative;
					
						width: 200px;
						height: 200px;
					}
						#pic-3{
							
							width: 200px;
							position:relative;
						
							height: 200px;
						}


							.describing-what-we-do{
								position: relative;
								font-weight: bold;
								letter-spacing: 1px;
								border:none;
								border-left:1px solid grey;
							
								margin:0;
								margin-top: 1em;
								padding-top: 1em;
								padding-bottom: 4em;
								padding-left: 2em;
								width: 50%;
								height: 20%;
								left: 0;
								margin:auto;
							}

/* -------------------------------------sliding images----------------------------------------------------------------------*/
.par-image-container{
	width: 100%;
}

		.container-par{
			
			margin: auto;
			position: relative;
			width: 90%;
			height: auto;
			text-align: justify;
			margin-bottom: .1em;
		}

			.image-container img{
				width: 90%;
				height: 720px;
				border-style: solid;
			}

			/*.image-container{	/*               positions the image container as well as the color of the background                          */
				/*position: relative;
			  overflow: hidden;
			  border:3px solid black;
			  width: 400px;
			  height: 500px	;
			    margin:auto;
			  background-color: rgba(153, 73, 70, 0.08);
			  padding-bottom: 1.3em;
			  padding: 0;
			  z-index: 0;
			  
			}

				/* .slides{
				 
					display: block;
					width: 6000px; 
					height: 100%;
					padding: 0;
					margin: 0;

					}

					 .slide {
					 	overflow: hidden;
					 	margin: 0;
					 	padding:0;
					 	
					 
						float: left;
						list-style-type: none;
						width:400px;
						height: 100%;
					}

							.slide img{
								position: relative;
								top: 0;
								margin: 0;
								padding:0;
								width: 100%;
								height: 100%;
							}

				.image-container{
				transition:none;
			}

			 .image-container:hover{
			 	position: relative;
				transform: none;
				-ms-transform: none;
				-webkit-transform: none;
				
			}
/*--------------------------------------Satisfied customers-------------------------------------------------------*/


.customer-pic-container{
	width: auto;
	margin:auto;
	z-index: 2;
	height: auto;
	margin-bottom: 2em;
}

	.satisfied-container{ /* container of images and the satisfaction and mission statement*/
		
	}

		.satisfied-customers, .customers{
			
			
		}

			.customers{
				

			}

				.satisfied-customers-par p, .satisfied-customer-par{
					width: 90%;
					margin:auto;

				}

					.satisfied-customers-par{
						width: 500px;
					}
						.gallery{
							position: static;
							display: block;
							clear: both;
							width: 50%;
							height:auto; 
							margin:auto;
							margin-top:.6em;
						}

							.gallery:hover{
								
								-ms-transform:scale(1.4,1.4);
								-webkit-transform:scale(1.4,1.4);
								-o-transform: scale(1.4,1.4);
								 -moz-transform:scale(1.4,1.4);
								 transform: scale(1.4,1.4);
							}


								.images-customer{
									width: 100%;
									height: auto;
									

								}

									.images-customer img{
										width: 100%;
										height: 300px;
										padding: 0;
									}

										.description{
										width: 100%;
											
												}

/*MENU MOBILE PAGE*----------------------------------------------------*/
.menu-header{
	margin-top: 10em;
	
}


		.menu-header h1 {
			    letter-spacing: 1px;
			    font-size: 3em;
			    text-align: center;
			    border-bottom: 2px solid black;
			    width: 70%;
			    margin: auto;
			    padding-bottom: 10px;
			   
			}

				.entrees-container h1{
					width:70%;
				}








/*ABOUT PAGE-------------------------------*/

.about-us-container{
	margin-top: 10em;
}
	.about-us-container h1{
		width: 30%;
		letter-spacing:1px;

	}

.about-pic-container{
	width: 98%;
	margin:auto;
}
	.about-pic-container img{
		width: 75%;

		border:3px solid black;
	}

.about-description{
	margin-top: 2em;
	width: 74%;
	color:black;
}
	.about-description p{
		text-align: left;
		line-height: 40px;
		color:black;
		text-align:justify;
	}







/*CONTACT MOBILE**********************************************************/

.contact-us-container{	/*container for contact us header*/
	margin:auto;
	width: 100%;
	margin-top: 10em;
	margin-bottom: 25px;	
}
	.contact-us-container h1{	/* styles the "contact us"*/
				letter-spacing: 1px;
			    font-size: 3em;
			    text-align: center;
			    border-bottom: 2px solid black;
			    width: 57%;
			    margin: auto;
			    padding-bottom: 10px;
	}

.contact-us-paragraph{
	
	width: 90%;
	margin:auto;
	padding-bottom: 15px;
	
}	
	.contact-us-paragraph p{
		font-size: 24px;
	}




.contact-information-container{
	
	margin:auto;
	margin-top: 40px;
	padding-top: 25px;
	border-top: .2px solid grey;
	width: 90%;
	height: 1300px;
	position: relative;
	
}

 .Contact-container{
 	border-radius:1%;
 	margin-left: 1%;
 	border:1px solid #ccc;
	width: 100%;
	height: 600px;
	display: block;
	background-color: #f2f2f2;
	overflow: scroll;
	margin:auto;
	
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1.5px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical ;/* Allow the user to vertically resize the textarea (not horizontally) */
}

	label{
		font-size: 23px;	
		font-weight:lighter;
		
	}	
		textarea{
			min-height: 100px;
		}

.map-par-container {
	text-align: center;
	position:relative; 
	width: 100%;
	display:block;
	margin-left: 3%;
	margin:auto;
}

	.map-par-container h2{
		letter-spacing: 5px;
		text-align: center;
		line-height:50px;
	}



#map{

	border-radius: 10px;
	width: 100%;
	height: 580px;
}
}