@media screen and (max-width: 890px){ 	/*    sets to activate the css when screen is equal to or less than the pixels set                                     */
	
	.sidebar{		/* 	side bar container				*/
		display: block;
		position: fixed;
		top: 0;
		right: -250px;			/* 	puts the container outside the screen so it can later be called by javascript and slide it back in when clicked				*/
		background:#231E22;
		width: 250px;
		height: 100%;
		transition: 1s; /* 		seconds to transition in			*/
		opacity: 1;
		z-index: 1;
	}
	.active{			/* 	css Class and is not in html, it is called by jquery to slide back in the sidebar when user clicks the menu hamburger				*/
		right:0;
	}

	.mobile-menu-buttons{	/* 		styles the menu buttons for mobile			*/
		display: block;
	font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0em;
    font-family: motor;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .17em;
    text-transform: uppercase;
    word-spacing: 2.5em;
	}
.sidebar ul{		/* 			styles the unordered list and positions it		*/
	display: block;
	margin: 0;
	padding: 20px 0;
}

.sidebar ul li{		/* 		styles and removes the bullet from the list 			*/
	display: block;
	list-style: none;
}

.sidebar ul li a{  /* 		styles the links inside the sidebar			*/
	display: block;
	padding: 10px 20px;
	color: white;
	display: block;
	text-decoration: none;
}

.sidebarBtn{			/* 		styles and positions the sidebar hamburger button 			*/
	display: block;
	position: absolute;
	top: 0;
	left: -50px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	box-sizing: border-box;
	background: transparent;
	border:none;
	outline: none;

}

.sidebarBtn span {			/* 		creates hamburger button line which is in the middle 			*/
	display: block;
	width: 90%;				/* 			makes one line of length 90% inside the sidebar button container		*/
	height: 5px;
	background-color: red;
	position: absolute;			/* 		makes sure it doesnt move other elements inside the webpage			*/
	top: 35px;
	transition: .10s;	}	/* 			when clicked how long it takes to animate to x and back		*/


	.sidebarBtn span:before{ /*    creates the second line            */
	content: '';
	left: 0;
	position: absolute;
	top: -15px;				/*   puts the second line up 15 pixels from the original line which was in the middle of sidebarBtn container            */
	width: 100%;
	height: 5px;
	background-color: red;
	transition: .3s;
}

.sidebarBtn span:after{	/*   creates the third line of hamburger menu             */
	content: '';
	left: 0;
	position: absolute;
	top: 15px;				/*    puts it 15 pixels down from the top from the original line that is in the middle            */
	width: 100%;
	height: 5px;
	background-color: red;
	transition: .3s;
}



.sidebarBtn.toggle span{			/* 		removes the middle line from the menu button to only be left with top and bottom lines that will cross each other when clicked			*/
	background: transparent;
}

.sidebarBtn.toggle span:before{ 
top: 0;
transform: rotate(45deg);		/* 		when clicked the top line will rotate 45 degrees from the top to cross the the bottom line which would also rotate		*/

}

.sidebarBtn.toggle span:after{	/* 		when clicked the third line will rotate counter 45 degrees to cross the top line to form an X		*/
	top:0;
	transform: rotate(-45deg);
}






	.social-media-icons a, .menu li{
		display: none;
}

.nav-bar{
  position:relative;
  width:100%;
	background-color: #231E22;
	width: auto;
  padding:.0;
  margin:0; 
}

.image-container{
	position: relative;
  overflow: visible;
 /*border-style:solid;*/
 border-style: none;
  max-width: 100%;
  width: auto;
  height: auto;
    margin:auto;
 /* background-color: rgba(153, 73, 70, 0.08);*/
 background: none;
  padding-bottom: 1.3em;
  right: 15%;
  
}
.image-container img{
  border-style:solid;
  width:350px;
  height: 320px;
  margin:auto;
  display:block;
}

.container-par{
	width: 100%;
	height: 31%;
	text-align: justify;
	overflow: scroll;
}
	
}