
*{
	padding:0;
	margin: 0;
}
body, html{  /* removes the default margin and paddings and sets the background */
  
  margin:0;
  padding:0;
 
  background-color: #FFF1F3;	
}
a{					/* removes the default underline from anchor links and gives the color to the text */
  color:white;
  text-decoration:none;}

hr{ 				/* horizantal line */
	 height:1px;
    display: block;
    margin: 0.5em auto;

    border-style: inset;
    border-width: 1px;

    color: #030303;
    background-color: #030303;
     width:65%;
  
}

#wrapper{
	min-height: 100%;

}

#content{
	min-height: 100%;

	padding-bottom: 90px;
	
	
}


#footer{

	height:80px;
	width: 100%;
	text-align: center;
	background-color: #231E22;
	color:white;
	position:absolute;

	 margin-top: -80px;
	 clear:both;

}




/*-----------------------Navigation Bar-------------------------------------------------------------------------------------------------------------------------------------*/



.img-logo a img{
  position:relative;
  padding:0;

  float:left;
  left:4em;
  width: 23%;
  border-radius:50%;
  border:2px solid #fcf4e8;
  text-align:center;
  
  
}
.img-logo a{
     
position: relative;    
z-index: 1;     
  
}


.nav-bar{
  position:relative;
  width:100%;
	background-color: #231E22;
  padding:.2% 0 .2% 0;
  margin:0 auto; 
}
.nav-bar div{
 
  display:inline-block;
  text-align:center;
  margin:auto;
  
  
 
}

.menu-buttons li{
  display:inline-block;   
}

.menu-buttons li a:hover, .social-media-icons a:hover{
 color:grey;
  
}


.container{
  position:absolute;
  left:0;
 
  width:100%;
 
 
  
  
  
}
  
.menu{
 position:relative;
  left:5%;
  line-height:69.5px;
  
  margin:auto;
  width:60%;
  
  
}

.social-media-icons {
 float:right;
  position:relative;
  line-height:69.5px;
  font-size:1.4em;
  right:1%;
 
   
  word-spacing:2.5em;
  
}




.menu-buttons {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0em;
    font-family: motor;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .17em;
    text-transform: uppercase;
    word-spacing: 2.5em;
   
    
  
  
}
/*---------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------------------*/

.welcome-container h1{
	text-align: center;
}

h1{
	  font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0em;
    line-height: 1em;
    font-family: motor;
    font-weight: bold;
    font-style: normal;
    font-size: 3em;
    letter-spacing: .45em;
    line-height: 1.5em;
    text-transform: none;
}


.par-image-container{
  position:relative;
 
  width:60%;
  margin:auto;

}

.container-par h3{
	font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    letter-spacing: 0em;
    line-height: 1.2em;
    text-transform: none;
    font-family: motor;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .09em;
    line-height: 1.4em;
    text-transform: capitalize;
}



.image-container{
  overflow: hidden;
  border:3px solid black;
  width: 100%;
  height: 89%;
    margin:auto;
  background:#dbdbdb;
  padding-bottom: 1.3em;
}

.image-container img{
  border-style:solid;
  width:76%;
  margin:auto;
  display:block;
}